.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
h1 {
	font-family: Maiandra GD;
	font-size: 3em;
	border-bottom: 2px rgba(190, 95, 124, 0.5);
	border-right: 2px rgba(190, 95, 124, 0.5);
	width: 450px;
	text-align: center;
	box-shadow: 6px 6px 7px rgba(190, 95, 124, 0.5);
	color: rgb(190, 95, 124);
	background-color: white;
	margin-top: 10px;
}

img {
	width: 225px;
	height: 300px;
	transition: all 0.5s;
}
img:hover {
	transform: scale(2);
	align-self: center;
}
img {
	float: center;
}
body {
	background-color: white;
	margin: 40px;
}